#root {
    background-image: url("/assets/background.png");
    background-size: contain;
}

* {
    font-style: 'Open Sans';
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    background-color: white !important;
    border-radius: 5px;
}